
.spinner-wave-in{
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3.125px solid #aaa;
	animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Dots */


.spinner-wave-in {
	box-shadow: inset -1.5625px -1.5625px 0 1.5625px tomato;
}

.spinner-section-far:after {
	display: none;
}

/* --- */

.loadercontainer {
  text-align: center;
	top: 50vh;
	
}

span {
	margin: 10px;
}

span:nth-child(4n+1) {
	clear: both;
}








body::-webkit-scrollbar{
  width: 0.8em;
  
}

body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 3px #f2846d; 
}

body::-webkit-scrollbar-thumb{
  background-color:darkgrey;
  border-radius: 50px;
  outline: 1px solid #f2846d;
}





@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}







#loading{
  
  background-image: linear-gradient(to right, #f77b7b, #e6855a, #d79038, #d29b26, #d3a722);
  
  font-family: 'SEGA LOGO FONT';
  display: block;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 200vh;
  color: #0ccac4;
}


#return-to-top {
    position: fixed;
    top: 80%;
    right: 90%;
    z-index: 9999;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
html{
  max-width: 100vw;
  overflow-x: hidden;
}
body{
  background:white ;font-family: 'Open Sans', sans-serif;

  overflow-x: hidden !important;
  max-width: 100vw !important;

}
  h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}




.myCard{
  border:1px solid white;
  
}

.myCard img{
  max-height: 240px;
  max-width: 308px;

}
.myCard .card-body{
  padding:0px;
}
.btn-hov:hover{
  background-color: #31aae1;

}
.btn-hov:hover i.fa-check{
  color: white !important;

}


.pdd{
  padding-top: 5rem;
}
p.logo{
  text-transform: uppercase;
  border: 2px solid white;
  
  font-size:18px;
  font-weight: bold;
  z-index: 999;
  padding:7px 20px;
  display: inline-block;
}


body {
  overflow-x: hidden;
}
.card {
  border-radius: 5px;
}
i.hov {
  background-color: #33aae2;
}

i.foot:hover {
  background-color: #2cafe3;
  transition: color 0.5s;
}
i.fa-check:hover {
  background-color: #31aae1;
  color: white;
}

i.fab {
  padding: 0.6em;
  background-color: #35a9e6;
  color: white;
}

li i.fa-search,
i.fa-cart-arrow-down {
  padding: 0.5em;
  color: darkcyan;
  
}

li i.fa-search,
i.fa-cart-arrow-down:hover {
  background-color: #fff;
  transition: background-color 0.5s;
}

nav.navbar.navbar-expand-sm.navbar-dark.mb-3 {
  border-bottom: 1px solid rgb(240, 184, 184);
  z-index:100;
  width:100vw !important;
  overflow-x:hidden !important  ;
  
  
}
i.hov {
  max-height: 50px;
  max-width: 52px;
  transition: all 0.5s;
  backface-visibility: hidden;
  padding: 1rem;
  border: 2px solid #33aae2;
  
}

.hovcol:hover .hov{

  

  background-color: rgb(224, 232, 247);
   border: 2px solid #33aae2;
    
  transition: all 0.5s;
  /* box-shadow: 0 10px 10px grey; */
  

}
#topsec {
  background: url("./img/better/1.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#topsec .overlayI {
  top: 0;
  left: 0;
  width: 100%;

  background-image: linear-gradient(to right, #f77b7b, #e6855a, #d79038, #d29b26, #d3a722);
  opacity: 70%;
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Mono"), url("./fonts/roboto-mono/RobotoMono-Regular.ttf") format("woff");
}
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  src: local(Merriweather), url("./fonts/roboto-mono/RobotoMono-Regular.ttf") format("woff");
}
#blog p .container .row .blog {
  color: white;
}
@font-face {
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  src: local(Lobster), url("./fonts/lobster/The-Lobster-Font/fonts/TTF/Lobster.ttf") format("woff");
}
p.h3 {
  font-family: Merriweather;
}
p.h2 {
  font-family: "Roboto Mono";
}
#middle {
  background: url("./img/freedomWings.jpeg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#middle #overlay {
  top: 0;
  left: 0;
  width: 100%;

  background: rgba(224, 86, 144, 0.9);
}
#wordpress {
  background-color: #ffd37a;
}

#id #video-bar {
  position: relative;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  background-position: 0 300px;
}
#id #video-bar .dark-overlay .row {
  max-width: 1349px;
}

ody {
  min-height: 100vh;
  background: #fafafa;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
i.footerIcon {
  
  background-color: #4a4a4a;
}
i.footerIconRight:hover{
  color: white !important;
}

i.footerIcon:hover {
  background-color: #31aadf;
  color: white;
  transition: background-color 0.5s;
}



#tria1{
     clip-path: polygon(0 0 ,100% 0 , 100% 10% , 95% 15% , 100% 20% , 100% 100% , 0 100%);
}


#tria2{
     clip-path: polygon(0 0 ,100% 0 , 100% 10% , 95% 15% , 100% 20% , 100% 100% , 0 100%);
}

#tria3{
     clip-path: polygon(0 0 ,100% 0 , 100% 10% , 95% 15% , 100% 20% , 100% 100% , 0 100%);
}

#triav{
     clip-path: polygon(0 0 ,100% 0 , 100% 10% , 95% 15% , 100% 20% , 100% 100% , 0 100%);
}
#triav:hover{
  cursor: pointer;
}
/*
#tria1::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid rgb(255, 255, 255);
  border-bottom: 15px solid transparent;
  position: absolute;

/* #gallery{
    background-color: red;
    height: 100px;
    position: relative;
    width: 20px;
} */

#gallery:hover::after {
  content: "";

  background-color: silver;
  height: 1px;
  width: 100px;
  left: 700%;
  top: 50%;
  position: absolute;
  transition: background-color 0.5s;
}

#gallery2:hover::after {
  content: "";

  background-color: silver;
  height: 1px;
  width: 100px;
  left: 700%;
  top: 50%;
  position: absolute;
  transition: background-color 0.5s;
}

#gal2:hover::after {
  content: "";

  background-color: silver;
  height: 100px;
  width: 1px;
  left: 1000%;
  top: 35%;
  position: absolute;
  transition: background-color 0.5s;
}


#gal:hover::after {
  content: "";

  background-color: silver;
  height: 100px;
  width: 1px;
  left: 1000%;
  top: 35%;
  position: absolute;
  transition: background-color 0.5s;
}

.progress {
  height: 10px;
}

.carousel-indicators {
  position: static;

  .item {
    &.active {
      background: transparent;

      img {
        opacity: 0.7;
      }
    }
  }
}




.navscroll{
  
  /* background-image: linear-gradient(to right, #f77b7b, #e6855a, #d79038, #d29b26, #d3a722); */
  background-color: rgba(255, 255, 255, 0.637);
  opacity: 70%;
  color: rgba(0, 0, 0, 0.7) !important;
  box-shadow: 0 3px 6px silver;

  transition: all 0.5s ease-in-out;
  
  
}

.navscrollII{
  
  background-image:linear-gradient(to right, #b2c3db ,#5b5454,#767271);
  opacity: 70%;

  
  transition: all 0.5s ease-in-out;
  
  
}

.navscrollIII{
  
  background-color: #f77b7b;
  opacity: 70%;

  
  transition: all 0.5s ease-in-out;
  
  
}


.navscrollIV{
  background-image: linear-gradient(to right , #74c8b8 ,#31aae1 ,#c183d6);

  opacity: 70%;
  transition: all 0.5s ease-in-out;
}
.mar{
  margin-top: 3rem ;
}
.remar{
  margin-top: -3rem;
}

@media only screen and (max-width: 100px) {
  nav#main-nav {
    padding-top: 50px;
    color:red !important;
  }
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
  z-index: 999999;
}

.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #f50057;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #f50057;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}


@-webkit-keyframes loader-1-outter {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}
